@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* General Styles */

 html { 
  background: url(images/body-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 }
 

 h1 {
   font-family: 'Briem Hand', sans-serif;
   text-decoration: none;
   margin-left: 5px;
   width: 8em;
   display: inline;
   color:#000000;
 }

 header {
    position: fixed;
    z-index: 99;
    width: 100%;
 }

 header a {
   text-decoration: none;
 }
 

 main {
  flex: 1 0 auto;
  margin-top: 100px;
 }

 footer {
    background-color: #ff0000;
    position:absolute;
    height: 2rem;
    width: 100%;
    bottom: 0;
 }

#logo-image {
  float: left;
}

 #menu {
   font-size: 125%;
   letter-spacing: 1px;
   word-spacing: 3px;
   list-style: none;
   margin: 35%;
   width: 100%;
   border: 3px solid rgb(8, 8, 8);
   border-radius: 25px;
   padding: 15px;
   display: inline;
 }

 #menu a:hover {
  color: #ff0000;
  transform: scale(1.025 1.025);

 }

 /* Can't get highlight to work */
 .active {
  color: #ff0000;
 }

 #menu > li {
   display: inline;
 }

video {
  width: 600px;
  height: 300px;
 }


/* Media query: larger screens 769px and up */
@media screen and (min-width: 769px) {
  /*Header*/

nav {
  display: block;
  position: relative;
}

}