@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* General Styles */

 html { 
  background: url(images/body-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  position: fixed;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 }
 
 h1 {
   font-family: 'Briem Hand', sans-serif;
   text-decoration: none;
   margin-left: 5px;
   width: 8em;
   display: inline;
   color:#000000;
 }

 #logo {
  display: flex;
  justify-content: flex-start;
}

 #nav-bar {
  display: flex;
  justify-content: center;
  margin-top: auto;
 }

 #nav-bar a {
  letter-spacing: 2px;
 }

.navigation-bar a {
  text-decoration: none;
  color: #ffffff;
}

.navigation-bar a:hover {
  color: #ff0000;
  transform: scale(1.025 1.025);
}
 
 main {
  flex: 1 0 auto;
  margin-top: 100px;
 }

 /*Cannot move to center */
#social-media {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-media i {
  font-size: 30px;
  color: #ffffff;
}


 #menu a:hover {
  color: #ff0000;
  transform: scale(1.025 1.025);

 }

 /* Can't get highlight to work */
 .active {
  color: #ff0000;
  text-decoration: none;
 }


video {
  width: 600px;
  height: 300px;
 }


/* Media query: larger screens 769px and up */
@media screen and (min-width: 769px) {
  /*Header*/

nav {
  display: block;
  position: relative;
}

}